/* Style podstawowych elementów strony */


/* Styl ciała */
body {
    font-family: Arial; 
    border: ridge 4px rgb(53, 53, 53);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    background-color: #ffffff;
    color: #454545;
}

/* Styl nagłówka */
header {
    /* Tło */
    background-color:#1e3a8a;
    color: #ffffff;
    display:flex;

    /* Ramka */
    text-align: center;
    padding: 16px 16px;
    border-bottom: 4px solid #0f172a;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.2);
}

/* Styl stopki */
footer {
    /* Kolory */
    background-color: #f2f2f2;
    color: #000000;

    /* Ramka */
    padding: 16px;
    border-top: 1px solid #484848;

    /* Tekst */
    font-size: 15px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
    margin-top: 32px;

    /* Wiele spacji w stopce nie zostanie zamienione na jedną spację */
    white-space: pre-wrap;
}



/* Style mniejszych elementów strony */

h1 { 
    text-align: center; 
}

/* Styl tabeli */
table {
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Styl komórki oraz nagłówka w tabeli */
th, td {
    border: 1px solid #020101;
    padding: 10px;
    text-align: left;
}

/* Styl nagłówka w tabeli */
th { 
    background-color: #1e3a8a; 
    color: #f2f2f2; 
}

/* Styl przycisku */
button {
  background-color: #2757dc;
  border: 2px solid #183072;;
  color: #f2f2f2;
  padding: 7px 7px;
  text-align: center;
  transition-duration: 0.2s;
}

button:hover {
    background-color: #3b82f6;
    border: 2px solid #2757dc;;
    color: #f2f2f2;
    box-shadow: 2px 2px 2px #0f172a;
}



/* Górny pasek strony - logo, tytuł, pasek nawigacji */

/* Logo strony */
#logo {
    border-radius: 50%;
    height: 100px;
}

/* Pasek nawigacji */
.navbar {
    background-color: #1e3a8a;
    border-bottom: 4px solid #0f172a;
    padding: 12px 16px;

    /* Flexbox */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    flex-wrap: nowrap;
}

/* Nieposortowana lista w pasku nawigacji */
.navbar ul {
    list-style: none;     
    display: flex;              
    gap: 32px;                  
    padding: 0;
}

/* Elementy list w pasku nawigacji */
.navbar li {
    margin: 0;
    padding: 0;
}

/* Linki w pasku nawigacji */
.navbar a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* Najechanie na link w pasku nawigacji */
.navbar a:hover {
    background-color: #3b82f6;
    color: #ffffff;
}



/* Style dla strony zasoby.html */

/* Sekcja wyszukiwania tytułów na stronie zasoby.html */
.filtrowanie { 
    margin-bottom: 20px; 
    text-align: center; 
}

/* Pole tekstowe wyszukiwania */
input, select {
    padding: 8px;
    font-size: 16px;
    margin: 5px;
}



/* Responsywność strony zależnie od rozmiaru ekranu */
/* Telefony */
@media screen and (max-width: 480px) {
    .view {
        width: 400px;
    }
}

/* Tablety */
@media screen and (max-width: 768px) {
    .view {
        width: 700px;
    }

    /* Poniżej 768px, pasek nawigacji jest zamieniany w kolumnę */
    .navbar, .navbar ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Mniejsze ekrany */
@media screen and (max-width: 1024px) {
    .view {
        width: 1000px;
    }
}

/* Większe ekrany */
@media screen and (max-width: 1200px) {
    .view {
        width: 1800px;
    }
}



/* Dark mode */
.dark-mode {
  background-color: #1d1d1d;
  color: #d9d9d9;
}

/* Dark mode stopki */
.dark-mode footer {
    background-color: rgb(57, 57, 57);
    color: #d9d9d9;
}

/* Przycisk Dark Mode */
.darkmodebutton {
    margin-left: auto; 
    margin-right: 0;
}
.darkmodebutton button {
    position: relative;
    top: 45%;
}
.oNas
{
    padding: 15px 50px;
}
.oNas>h2{
    text-align: center;
}
